@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > #root > div {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
}


/* NavBar style */ 
.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 25, 25);
   }

.topName {
    font-family: "Oswald", sans-serif;
    color: white;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 30px;
}

.arrow {
    color: red;
}
   
   .nav {
    display: flex;
    justify-content: space-around;
   }

   .nav-item {
    font-family: "Oswald", sans-serif;
    padding-right: 30px ;
    list-style: none;
   }

   .red-text {
    color: red !important;
   }

/* Footer style */

.footerStyle {
    width: 100%;
    position: absolute;      
    color: white;
    background-color: rgb(25, 25, 25);
}

.bottomName {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}

.finePrint {
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: grey;
}

.contactIcons {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact-hover:hover {
    transition: .3s ease-in-out;
    color: #ff1010;
    transform: scale(1.1);
    cursor: pointer;
}


/* Home style */ 

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
 }

 @media (max-width: 600px) {
    .about {
        width: 100vw; 
    }
}

 .profile-home {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .profile-home {
        width: 90%;   
        height: 100%;
    }
}

 .homeText { 
    font-family: "Oswald", sans-serif;
    width: 500px;
    font-size: 24px;
    padding-right: 25px;
    border-bottom: 2px solid red;
 }

 @media (max-width: 600px) {
    .homeText {
        width: 45%;
        font-size: 18px;
        height: 100%;
        padding-top: 150px;
    }
}

 .profile-pic {
    padding-left: 25px;
 }

 @media (max-width: 600px) {
    .profile-pic {
        padding-left: 0px; 
        padding-top: 10px;
    }
}

.profile-pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 200px;
    object-position: 50% 20%;
}

@media (max-width: 600px) {
    .profile-pic img {
        width: 200px;
        height: 200px;
        border: 3px solid black;
        border-radius: 100px;
    }
}

.firstName {
    color: red;
}

.typewriter {
    display: inline-block;
}

.effect {
    border-right: 2px solid;
    width: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(26),
    cursor .6s step-end infinite alternate;
    
}

.bio {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

@media (max-width: 600px) {
    .bio {
        width: 100%; 
        justify-content: center;  
    }
}

.bioPic{
    padding-right: 25px;
}

@media (max-width: 600px) {
    .bioPic {
        padding-right: 0px; 
        padding-top: 10px;
    }
}

.bioPic img {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 150px;
}

@media (max-width: 600px) {
    .bioPic img {
        width: 200px;
        height: 200px;
        border: 3px solid black;
        border-radius: 100px;
    }
}

.bioText {
    font-family: "Oswald", sans-serif;
    width: 700px;
    height: 450px;
    font-size: 24px;
    padding-left: 25px;
    border-bottom: 2px solid red;
}

@media (max-width: 600px) {
    .bioText {
        width: 45%;
        font-size: 18px;
        height: 100%;

    }
}

.bioTitle {
    color: red;
}

.skills {
    padding-bottom: 150px;
}

@media (max-width: 600px) {
    .skills {
        width: 100%;   
    }
}

.skillsTitle {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-align: center;
}

.skillsIcons {
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    width: 800px;
}

@media (max-width: 600px) {
    .skillsIcons {
        width: 100%;   
    }
}

@keyframes typing {
    from { width: 0 }
    100% { width: 100% }
}

@keyframes cursor {
    50% { border-color: transparent }
}

.icon-hover:hover {
    transition: .4s ease-in-out;
    color: #ff1010;
    transform: translateY(-12px);
}

/* Portfolio style */
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card {
    border: 3px solid black;
}

.card-images {
    height: 400px;
    width: 720px;
    display: block;
}

@media (max-width: 600px) {
    .card-images {
        height: 200px;
        width: 360px;
    }
}

.card-title {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(60, 60, 60);
    text-align: center;
    color: white;
    border-top: 2px solid black;
}

@media (max-width: 600px) {
    .card-title {
        font-size: 15px;
    }
}

.card-text {
    font-size: 20px;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(50, 50, 50);
    text-align: center;
    color: white;
    border-top: 2px solid rgb(75, 75, 75);
    width: 720px;
    height: 125px;
}

@media (max-width: 600px) {
    .card-text {
        font-size: 15px;
        height: 140px;
        width: 360px;
    }
}

.button-layout {
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

@media (max-width: 600px) {
    .button-layout {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.my-buttons {
    font-size: 20px;
    height: 50px;
    width: 100px;
    font-family: "Oswald", sans-serif;
    background-color: white;
}

@media (max-width: 600px) {
    .my-buttons {
        font-size: 10px;
        height: 30px;
        width: 60px;
    }
}

.my-buttons:hover {
    transition: .3s ease-in-out;
    color: white;
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    border: 2px solid red;
    border-radius: 50px;
}

/* Contact style */

.contact-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/src/images/gps.png");
    background-size: cover ;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(40, 40, 40);
    border: 3px solid black;
    border-radius: 20px;
    width: 40%;
    height: 90%;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .form {
        width: 80%;
    }
}

.contact-me {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
    border-bottom: 2px solid red;
    width: 75%;
    padding-bottom: 10px;
}

.name-box {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    width: 40%;
    height: 50px;
}

@media (max-width: 600px) {
    .name-box {
        width: 60%;
    }
}

.name-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.email-box {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    width: 40%;
    height: 50px;
}

@media (max-width: 600px) {
    .email-box {
        width: 60%;
    }
}

.email-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.message-box {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    
}

@media (max-width: 600px) {
    .message-box {
        width: 80%;
    }
}

.message-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.submit {
    text-align: center;
    width: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.submit:hover {
    transition: .4s ease-in-out;
    transform: scale(1.1);
}