@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
}


/* NavBar style */ 
.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 25, 25);
   }

.topName {
    font-family: "Oswald", sans-serif;
    color: white;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 30px;
}

.arrow {
    color: red;
}
   
   .nav {
    display: flex;
    justify-content: space-around;
   }

   .nav-item {
    font-family: "Oswald", sans-serif;
    padding-right: 30px ;
    list-style: none;
   }

   .red-text {
    color: red !important;
   }

/* Footer style */

.footerStyle {
    width: 100%;
    position: absolute;    
    color: white;
    background-color: rgb(25, 25, 25);
}

.bottomName {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}

.finePrint {
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: grey;
}

.contactIcons {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 500px;
    padding-right: 500px;
}

.contact-hover:hover {
    transition: .3s ease-in-out;
    color: #ff1010;
    transform: scale(1.1);
    cursor: pointer;
}


/* Home style */ 

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
 }

 .profile-home {
    display: flex;
}

 .homeText { 
    font-family: "Oswald", sans-serif;
    width: 500px;
    font-size: 24px;
    padding-right: 25px;
    border-bottom: 2px solid red;
 }


 .profile-pic {
    padding-left: 25px;
 }

.profile-pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 200px;
    object-position: 50% 20%;
}

.firstName {
    color: red;
}

.typewriter {
    display: inline-block;
}

.effect {
    border-right: 2px solid;
    width: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(26),
    cursor .6s step-end infinite alternate;
    
}

.bio {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
}

.bioPic{
    padding-right: 25px;
}

.bioPic img {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 150px;
}

.bioText {
    font-family: "Oswald", sans-serif;
    width: 700px;
    height: 450px;
    font-size: 24px;
    padding-left: 25px;
    border-bottom: 2px solid red;
}

.bioTitle {
    color: red;
}

.skills {
    padding-bottom: 150px;
}

.skillsTitle {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-align: center;
}

.skillsIcons {
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    width: 800px;
}

@keyframes typing {
    from { width: 0 }
    100% { width: 100% }
}

@keyframes cursor {
    50% { border-color: transparent }
}

.icon-hover:hover {
    transition: .4s ease-in-out;
    color: #ff1010;
    transform: translateY(-12px);
}

/* Portfolio style */
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 150px;
    padding-left: 150px;
}

.card {
    border: 3px solid black;
}

.card-images {
    height: 400px;
    width: 720px;
}

.card-title {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(60, 60, 60);
    text-align: center;
    color: white;
    border-top: 2px solid black;
}

.card-text {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Oswald", sans-serif;
    background-color: rgb(50, 50, 50);
    text-align: center;
    color: white;
    border-top: 2px solid rgb(75, 75, 75);
    width: 720px;
    height: 125px;
}

.button-layout {
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.my-buttons {
    font-size: 20px;
    height: 50px;
    width: 100px;
    font-family: "Oswald", sans-serif;
    background-color: white;
}

.my-buttons:hover {
    transition: .3s ease-in-out;
    color: white;
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    border: 2px solid red;
    border-radius: 50px;
}

/* Contact style */

.contact-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgb(255, 0, 0, 0.7));
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(40, 40, 40);
    border: 3px solid black;
    border-radius: 20px;
    width: 700px;
    height: 800px;
    padding-bottom: 10px;
}

.contact-me {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
    border-bottom: 2px solid red;
    width: 400px;
    padding-bottom: 10px;
}

.name-box {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    width: 300px;
    height: 50px;
}

.name-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
}

.email-box {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 10px;
    width: 300px;
    height: 50px;
}

.email-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
}

.message-box {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    
}

.message-box:hover {
    transition: .3s ease-in-out;
    background-color: white;
    color: black;
}

.submit {
    width: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.submit:hover {
    transition: .4s ease-in-out;
    transform: scale(1.2);
}